{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8">
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <form action="{{ path('book_do_add') }}" method="post">
                    <div class="form-group">
                        <select name="author_id" class="form-control">
                            <option value="" selected disabled>Select author</option>
                            {% for author in authors %}
                                <option value="{{ author.id }}">{{ author.name }}&nbsp;{{ author.lName }}&nbsp;({{ author.id }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="title" placeholder="Book Title" class="form-control">
                    </div>
                    <div class="form-group">
                        <select name="isbn" class="form-control">
                            <option value="" selected disabled>Book ISBN</option>
                            {% for isbn in isbns %}
                                <option value="{{ isbn }}">{{ isbn }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" id="release-date" name="release_date" placeholder="Book release date" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" name="format" placeholder="Book format (X x Y)" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="number" name="num_of_pages" placeholder="Book number of pages" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea cols="20" rows="10" name="description" placeholder="Book description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-outline-secondary" value="Add Book">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script>
        $( function() {
            $("#release-date").datepicker({
                dateFormat: "yy-mm-dd"
            });
        } );
    </script>
{% endblock %}